@import 'semantic-ui';

.image{
    height: 200px;
    width: 200px;
}
.form{
    width: 50%;
    margin: auto;
}

.h1{
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
}

.btn{

    background-color: teal;
    color: white;
}
